bin/
flask/
dashscope/
werkzeug/
urllib3/
requests/
jinja2/
markupsafe/
click/
itsdangerous/
flask_cors/
cryptography/
cffi/
certifi/
charset_normalizer/
aiohttp/
aiohappyeyeballs/
aiosignal/
async_timeout/
attrs/
attr/
blinker/
idna/
frozenlist/
multidict/
yarl/
propcache/
pycparser/
typing_extensions/
websocket/
websocket_client/

*.dist-info/

__pycache__/
*.pyc

.vscode/
.idea/
.env